<html>
	<head>
		<title>ng-repeat directive</title>
		<script src="Scripts/angular.min.js"></script>
		<script src="Scripts/handlingEvents.js"></script>
	</head>
	<body ng-app="myModule">
		<div ng-controller="myController">
			<table>
				<thead>
					<tr>
						<th>Technology</th>
						<th>Likes</th>
						<th>Dislikes</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="technology in technologies">
						<td>{{technology.name}}</td>
						<td>{{technology.likes}}</td>
						<td>{{technology.dislikes}}</td>
						<td><input type="button" value="Like" ng-click="incrementLikes(technology)"/></td>
						<td><input type="button" value="Dislike" ng-click="incrementDislikes(technology)"/></td>
					</tr>
				</thead>
			</table>
		</div>
	</body>
</html>